*{
    padding: 0;
    margin: 0;
    

}
body{
    background-color: darkgray;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: px;
    width: 100%;
    height: 100%;



}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 15px;
    padding: 15px;
    direction: rtl;
   max-width: 100%;
   

}

h1{
    text-align: center;
    align-items: center;
    color: white;
    font-size: 35px;
    font-weight: 800;
    margin: 15px 0;
}
form{
    width:px;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    
}
 input{
    width: 70%;
    border-radius: 8px;
    margin: 8px px;
    border: none;
    padding: 5px;
    border: 1px solid #ddd;
    direction: rtl;
    margin-left: 80px;
    margin-right: 3px; 
    

} 


textarea{
    width:95%;
    border: none;
    margin: 8px 5px;
    border: 1px solid #ddd;
    padding: 5px;
    direction: rtl;
    font-size: 20px;
}
#add{
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 10px;
    
}
#output{ 
      

    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
    overflow-wrap: break-word;
    overflow: hidden;
    
      
}
.item{
   width: 90%;
   padding: 15px;
   background-color: blue;
   color: white;
   flex:  0 0 auto;
   margin: 5px;
   border-radius: 20px;
   
   
}
.item h4{
 font-size: 18px;

}
.item p{
    margin-top: 10px;
    font-size: 28px;

}
button{
    cursor: pointer;
}

 .move{
    float: left;
    font-size: 20px;
    width: auto;
    padding: 3px 8px;
    background-color: white;
    border-radius: 10px;
} 
.move:hover{
    background-color: #ddd;
}
#coom{
    display: flex;
    align-items: center;
    gap: 5px;
}
@media (min-width:520px) and (max-width:800px) {
     input{
        margin-left: 35px;
        width: 60%;
     }
     #add{
        font-size: 18px;
     }
   
}
@media(min-width:300px) and (max-width:519px) {
    input{
        width: 55%;
    font-size: 25px;
    margin-left: 15px;
    }
    #add{
        font-size: 17px;
    }
   
}
@media (max-width:299px) {
    #coom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input{
        width: 80%;
        font-size: 18px;
        margin: auto;
    }
    #add{
        font-size: 15px;
    }
  
    
}